<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547421974546-aau89mtj2hqvavs4ihqvls4bkbtav507.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547421974546-aau89mtj2hqvavs4ihqvls4bkbtav507</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547421974546-n4bqm5gn3637f3sshfcbc1bufa21dqmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5A0eAsuhWNaOyLM90xiNXtFCPIuH4Uls</string>
	<key>GCM_SENDER_ID</key>
	<string>547421974546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.eaypass</string>
	<key>PROJECT_ID</key>
	<string>eay-pass-y7yp4f</string>
	<key>STORAGE_BUCKET</key>
	<string>eay-pass-y7yp4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547421974546:ios:d9d4fe4fc09c61bbcee8cb</string>
</dict>
</plist>